# Feature engineering

In [1]:
# System imports
import csv


# To handle datasets
import pandas as pd
import numpy as np

## Load data

- Import the most relevant variables
- Import the dataset

In [5]:
with open('../datasets/outputs/most_relevant_variables.csv', newline='') as f:
    reader = csv.reader(f)
    most_relevant_variables = list(reader)[0]

most_relevant_variables

['SalePrice',
 'OverallQual',
 'GrLivArea',
 'GarageArea',
 'TotalBsmtSF',
 'FullBath',
 'TotRmsAbvGrd',
 'YearBuilt']

In [11]:
data = pd.read_csv(filepath_or_buffer='../datasets/inputs/train.csv')

In this notebook, we are going to focus only on the most relevant varialbes.

In [10]:
target = 'SalePrice'
data = data[most_relevant_variables]
data.head()

,SalePrice,OverallQual,GrLivArea,GarageArea,TotalBsmtSF,FullBath,TotRmsAbvGrd,YearBuilt
0,208500,7,1710,548,856,2,8,2003
1,181500,6,1262,460,1262,2,6,1976
2,223500,7,1786,608,920,2,6,2001
3,140000,7,1717,642,756,1,7,1915
4,250000,8,2198,836,1145,2,9,2000

In [13]:
data.shape

(1460, 81)